[user]
	email = vrongmeal@gmail.com
	name = Vaibhav

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	# plus-style = "syntax #012800"
	# minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	# syntax-theme = Monokai Extended Light
	navigate = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only

[core]
	editor = hx
	excludesfile = /Users/vrongmeal/.gitignore-all
