# Everything
/*

# Except

!/.gitconfig
!/.gitignore
!/.gitignore-all

!/.vimrc
!/.ideavimrc

!/.p10k.zsh
!/.zshrc
!/.zprofile

!/.tmux.conf

!/LICENSE
!/README.md

!/bin
/bin/*
!/bin/setup-this-system

!/.config
/.config/*

!/.config/nvim
.config/nvim/plugin
.config/nvim/.netrwhist

!/.config/kitty
.config/kitty/kitty-themes
.config/kitty/theme.conf

!/.config/alacritty
.config/alacritty/themes

!/.config/wezterm

!/.config/helix

!/.config/tmux
/.config/tmux/plugins

!/.config/ghostty
