[user]
	email = vaibhav.rabber@devrev.ai
	name = Vaibhav Rabber

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	# syntax-theme = Monokai Extended Light
	navigate = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only

[core]
	editor = hx
	excludesfile = /Users/vaibhav.rabber/.gitignore-all
